<% include ../partials/header %>



<h1><%= name   %></h1>

<u1>

    <% hobbies.forEach(function(hobby){ %>
        <li> <%= hobby %> </li>

   <% }); %>

</u1>
<h3> <%= bdate %></h3>

<% include ../partials/footer %>