<% include ../partials/header %>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>title</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        
    <% products.forEach(function(product){ %>
    
            <tr>
                <td scope="row"><%= product.id %></td>
                <td><%= product.title %></td>
                <td><%= product.price %></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
            <% }); %>
        </tbody>
    
    </table>


<% include ../partials/footer %>